In [1]:
import pandas as pd
import numpy as np

In [6]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [4]:
#Q1) 

print(df.iloc[1,:])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2) 

loc  --> Expects Column Names 
iloc --> Expects only Index Locations

In [7]:
#Q3) The difference is mainly due to iloc expects index so as we passed 2 it tooks as its index 
#    but loc takes actual value so it gave output as those with index value = 2

new_df = df.reindex(labels=[3,0,1,2])

In [9]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [10]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [18]:
#Q4) 
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [13]:
df1.mean()

column_1    0.439025
column_2    0.460123
column_3    0.433411
column_4    0.507264
column_5    0.480102
column_6    0.438318
dtype: float64

In [14]:
df1['column_2'].std()

0.3373203350226911

In [23]:
# Q5) This error is due to addition of string to float value

df1['column_2'].iloc[1] = str(df1['column_2'].iloc[1])

In [22]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [25]:
# Q6)Windows function it will caluculates the required function of constant window size

df1['column_1'].rolling(window=3).mean()

1         NaN
2         NaN
3    0.488642
4    0.503144
5    0.392963
6    0.520722
Name: column_1, dtype: float64

In [46]:
#Q7) 

import time 

print('Current Month : ' , time.strftime('%Y-%m').split('-')[-1] , ' and Current Year is ' , time.strftime('%Y-%m').split('-')[0])

Current Month :  07  and Current Year is  2024

In [55]:
# Q8) 


date1 = pd.to_datetime(input("Enter the date1 in (YYYY-MM-DD) : "))
date2 = pd.to_datetime(input("Enter the date2 in (YYYY-MM-DD) : "))



print(date2-date1)

Enter the date1 in (YYYY-MM-DD) : 2023-12-09
Enter the date2 in (YYYY-MM-DD) : 2024-07-26
230 days 00:00:00